{% load menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div id="main_menu">{% main_menu %}</div>

    <div>
        <h1>{{ user.username }}</h1>
        {% if user.profile.avatar %} <div><img src="{{ user.profile.avatar.url }}" alt="avatar" width="100px" height="100px"></div>{% endif %}
        <div>{{user.first_name}}</div>
        <div>{{user.last_name}}</div>
        <div>{{user.email}}</div>
    </div>

    <a href="{% url 'update' user.pk %}">+ Edit Profile</a>
</body>
</html>